@page
@model IndexModel
@{
}

<br />
<h2>Book List</h2>
<br />

<a asp-page="Create" class="btn btn-primary">Create New Book</a>

@if (Model.Books.Count() > 0)
{
    <div> Books Available!</div>

}
else
{
    <div>No books in Database.</div>
}